Makefile
Makefile.in
Makefile.am
Makefile.defines
Makefile.defines.in
Makefile.defines_int
Makefile.defines_int.in
acconfig.h
aclocal.m4
autom4te.cache
autom4te-*.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
libtool
libtool-shared
ltconfig
ltmain.sh
stamp-h
stamp-h.in
silcdefs.h
silcdefs.h.in
*.o
*.a
*.la
*.Plo
*.Po
.exists
*.so
*.pm
*.lo
*.lai
*.bs
*.pc
apps/irssi/docs/help
*draft*.txt
configure.ac
stamp-h1
