****h* main_module/module [1.0] *
*
* NAME
*
* COPYRIGHT
*
* FUNCTION
*
* AUTHOR
*
* CREATION DATE
*
* MODIFICATION HISTORY
*
* NOTES
*
*******


****f* module/procname [1.0] *
*
* NAME
*
* SYNOPSIS
*
* FUNCTION
*
* INPUTS
*
* RESULT
*
* EXAMPLE
*
* NOTES
*
* BUGS
*
* SEE ALSO
*
**********


****i* module/i_procname [1.0] *
*
* NAME
*
* SYNOPSIS
*
* FUNCTION
*
* INPUTS
*
* RESULT
*
* EXAMPLE
*
* NOTES
*
* BUGS
*
* SEE ALSO
*
**********
