REM  ****h* main_module/module [1.0] *
REM
REM  NAME
REM
REM  COPYRIGHT
REM
REM  FUNCTION
REM
REM  AUTHOR
REM
REM  CREATION DATE
REM
REM  MODIFICATION HISTORY
REM
REM  NOTES
REM
REM  *****


REM  ***** module/procname [1.0] *
REM
REM  NAME
REM
REM  SYNOPSIS
REM
REM  FUNCTION
REM
REM  INPUTS
REM
REM  RESULT
REM
REM  EXAMPLE
REM
REM  NOTES
REM
REM  BUGS
REM
REM  SEE ALSO
REM
REM  ********


REM  ****i* module/i_procname [1.0] *
REM
REM  NAME
REM
REM  SYNOPSIS
REM
REM  FUNCTION
REM
REM  INPUTS
REM
REM  RESULT
REM
REM  EXAMPLE
REM
REM  NOTES
REM
REM  BUGS
REM
REM  SEE ALSO
REM
REM  ********
