/****h* projectname/module_name [1.0]
*  NAME
*  COPYRIGHT
*  FUNCTION
*  AUTHOR
*  CREATION DATE
*  MODIFICATION HISTORY
*  NOTES
*******
*/


/****f* module_name/funtion_name [1.0] *
*  NAME
*  SYNOPSIS
*  FUNCTION
*  INPUTS
*  RESULT
*  EXAMPLE
*  NOTES
*  BUGS
*  SEE ALSO
**********
*/

/****f* module_name/funtion_name [1.0] *
*  NAME
*  SYNOPSIS
*  FUNCTION
*  INPUTS
*  RESULT
*  EXAMPLE
*  NOTES
*  BUGS
*  SEE ALSO
*  SOURCE
*/

example()

/**********/


/****c* module_name/class_name [1.0] *
*  NAME
*  PURPOSE
*  METHODS
*  DERIVED FROM
*  DERIVED BY
*  EXAMPLE
*  NOTES
*  BUGS
*  SEE ALSO
**********
*/


/****m* module_name/method_name [1.0] *
*  NAME
*  SYNOPSIS
*  PURPOSE
*  EXAMPLE
*  NOTES
*  BUGS
*  SEE ALSO
**********
*/

