C    ****h* main_module/module [1.0] *
C
C    NAME
C
C    COPYRIGHT
C
C    FUNCTION
C
C    AUTHOR
C
C    CREATION DATE
C
C    MODIFICATION HISTORY
C
C    NOTES
C
C    *****


C    ***** module/procname [1.0] *
C
C    NAME
C
C    SYNOPSIS
C
C    FUNCTION
C
C    INPUTS
C
C    RESULT
C
C    EXAMPLE
C
C    NOTES
C
C    BUGS
C
C    SEE ALSO
C
C    ********


C    ****i* module/i_procname [1.0] *
C
C    NAME
C
C    SYNOPSIS
C
C    FUNCTION
C
C    INPUTS
C
C    RESULT
C
C    EXAMPLE
C
C    NOTES
C
C    BUGS
C
C    SEE ALSO
C
C    ********
